{% extends 'account/base.html' %} 
{% load static %} 
{% block page_title %}Edit Profile{% endblock page_title %} 

{% block content %}
<body id="set-up-profile" class="login-page">
    {% include "account/partials/navbar.html" %}

    <section id="register-home">
      <div class="register-form setupprofile">
        <h3>Setup Profile</h3>
        <form method="post">
          <div class="name-email">
            <div class="name">
              <label for="dateofbirth">Your Date of Birth:</label>
              <input
                type="text"
                id="dateofbirth"
                placeholder="E.g. DD/MM/YYYY"
                required
              />
            </div>
            <div class="email">
              <label for="country">Select Your Country:</label>
              <select name="country" id="country">
                <option value="nigeria">Nigeria</option>
              </select>
              <span class="custom-dropdown-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="19"
                  viewBox="0 0 18 19"
                  fill="none"
                >
                  <path
                    d="M12.75 6.5C12.9489 6.5 13.1397 6.57902 13.2803 6.71967C13.421 6.86032 13.5 7.05109 13.5 7.25V13.25C13.5 13.4489 13.421 13.6397 13.2803 13.7803C13.1397 13.921 12.9489 14 12.75 14H6.75C6.55109 14 6.36032 13.921 6.21967 13.7803C6.07902 13.6397 6 13.4489 6 13.25C6 13.0511 6.07902 12.8603 6.21967 12.7197C6.36032 12.579 6.55109 12.5 6.75 12.5H10.9395L4.71975 6.28025C4.58313 6.1388 4.50753 5.94935 4.50924 5.7527C4.51095 5.55605 4.58983 5.36794 4.72889 5.22889C4.86794 5.08983 5.05605 5.01095 5.2527 5.00924C5.44935 5.00754 5.6388 5.08313 5.78025 5.21975L12 11.4395V7.25C12 7.05109 12.079 6.86032 12.2197 6.71967C12.3603 6.57902 12.5511 6.5 12.75 6.5Z"
                    fill="#1A1A1A"
                  />
                </svg>
              </span>
            </div>
          </div>
          <div class="profession-field">
            <div class="profession">
              <label for="workplace">Your Workplace:</label>
              <input
                type="text"
                id="workplace"
                placeholder="Company name"
                required
              />
            </div>
            <div class="field">
              <label for="researchlink">Your Field:</label>
              <input
                type="text"
                id="researchlink"
                placeholder="E.g. https://abc.com/xyz"
                required
              />
            </div>
          </div>
          <div class="create-password">
            <div class="set-password">
              <label for="linkedinlink">Link to Your LinkedIn:</label>
              <input
                type="password"
                id="linkedinlink"
                placeholder="e.g. linkedin.com/username"
                required
              />
            </div>
            <div class="confirm-password">
              <label for="twitterlink">Link to Your Twitter:</label>
              <input
                type="password"
                id="twitterlink"
                placeholder="e.g. twitter.com/username"
                required
              />
            </div>
          </div>

          <div class="about-me">
            <label for="about-me">About Me</label>
            <textarea
              name="about-me"
              id="about-me"
              placeholder="Let us know about you"
            ></textarea>
          </div>

          <button type="submit" class="create">
            SAVE TO CONTINUE
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M7.99998 7C7.99998 6.73478 8.10534 6.48043 8.29287 6.29289C8.48041 6.10536 8.73476 6 8.99998 6H17C17.2652 6 17.5196 6.10536 17.7071 6.29289C17.8946 6.48043 18 6.73478 18 7V15C18 15.2652 17.8946 15.5196 17.7071 15.7071C17.5196 15.8946 17.2652 16 17 16C16.7348 16 16.4804 15.8946 16.2929 15.7071C16.1053 15.5196 16 15.2652 16 15V9.414L7.70698 17.707C7.51838 17.8892 7.26578 17.99 7.00358 17.9877C6.74138 17.9854 6.49057 17.8802 6.30516 17.6948C6.11975 17.5094 6.01458 17.2586 6.01231 16.9964C6.01003 16.7342 6.11082 16.4816 6.29298 16.293L14.586 8H8.99998C8.73476 8 8.48041 7.89464 8.29287 7.70711C8.10534 7.51957 7.99998 7.26522 7.99998 7Z"
                fill="white"
              />
            </svg>
          </button>
        </form>

      </div>
      <div class="profile-picture">
        <h3 id="profile-image">Profile Picture</h3>
        <div class="add-image">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="34"
            height="34"
            viewBox="0 0 34 34"
            fill="none"
          >
            <path
              d="M8.5 17H17M17 17H25.5M17 17V8.5M17 17V25.5"
              stroke="#1A1A1A"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>Add Picture</p>
          <input type="file" accept="image/*" id="image-upload" />
        </div>
      </div>
    </section>
    <a href="#" class="back-to-top">
      <i class="fas fa-chevron-up"></i>
    </a>
    <script src="app.js"></script>
  </body>
{% include "base/partials/backtotop.html" %}

<script src="{% static "js/app.js" %}"></script>
{% endblock content %}
