{% extends 'base/base.html' %} 
{% load static %} 
{% block page_title %}Events{% endblock page_title %} 

{% block content %}
<body class="main-events">

  {% include "base/partials/navbar.html" %}

    <main id="main-articles" class="events">
        <section id="journals">
        <h2>
            Explore upcoming Health events hosting by Healths experts & students
        </h2>

        <div class="sort-journal">
            <div class="sort-options">
            <div class="sort-active sort-all-option">
                <p>All</p>
            </div>
            <div class="sort-option">
                <p>Anatomy</p>
            </div>
            <div class="sort-option">
                <p>Epidemiology</p>
            </div>
            <div class="sort-option">
                <p>Biostatistics</p>
            </div>
            <div class="sort-option">
                <p>Health Policy and Management</p>
            </div>
            <div class="sort-option">
                <p>Environmental Health</p>
            </div>
            <div class="sort-option">
                <p>Public Health Ethics</p>
            </div>
            <div class="sort-option">
                <p>Anatomy</p>
            </div>
            </div>
            <div class="sort-options">
            <div class="sort-option">
                <p>Global Health</p>
            </div>
            <div class="sort-option">
                <p>Health Promotion</p>
            </div>
            <div class="sort-option">
                <p>Social and Behavioral Sciences</p>
            </div>
            <div class="sort-option">
                <p>Public Health Nutrition</p>
            </div>
            <div class="sort-option">
                <p>Maternal and Child Health</p>
            </div>
            </div>
        </div>

        <div class="journals">
            <div class="event">
            <article class="journal">
                <div class="event-img event-1">
                <img src="{% static 'img/event1.png' %}" alt="Event Flyer" />
                </div>

                <div class="content">
                <h5>Webinar Series on Health Equity by Dr. Kelvin David</h5>
                <p>
                    This event can help raise awareness and foster discussions
                    about the importance of health equity. Inviting experts from
                    different fi...
                </p>
                <div class="access-type">
                    <div>
                    <img
                        src="{% static 'img/solar_calendar-outline.svg' %}"
                        alt="calendar icon"
                    />
                    <p>Fri, Jul 28. 2023</p>
                    <div>
                        <ul class="time">
                        <li>5:00pm</li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="zoom">
                    <img
                    src="{% static 'img/ion_location-outline.svg' %}"
                    alt="location icon"
                    />
                    <p>UNILAG Campus, Lagos State Nigeria</p>
                </div>
                </div>
            </article>
            <article class="journal">
                <div class="event-img event-3">
                <img src="{% static 'img/event3.png' %}" alt="Event Flyer" />
                </div>

                <div class="content">
                <h5>Webinar Series on Health Equity by Dr. Kelvin David</h5>
                <p>
                    Organize an online hackathon focused on epidemiology and data
                    analysis. Participants can form teams and work on real-world
                    public health datasets to address specific...
                </p>
                <div class="access-type">
                    <div>
                    <img
                        src="{% static 'img/solar_calendar-outline.svg' %}"
                        alt="calendar icon"
                    />
                    <p>Fri, Jul 28. 2023</p>
                    <div>
                        <ul class="time">
                        <li>5:00pm</li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="zoom">
                    <img
                    src="{% static 'img/ion_location-outline.svg' %}"
                    alt="location icon"
                    />
                    <p>Zoom</p>
                </div>
                </div>
            </article>

            <article class="journal">
                <div class="event-img event-2">
                <img src="{% static 'img/closed.png' %}" alt="Event Flyer" />
                </div>

                <div class="content">
                <h5>Webinar Series on Health Equity by Dr. Kelvin David</h5>
                <p>
                    This event can help raise awareness and foster discussions
                    about the importance of health equity. Inviting experts from
                    different fi...
                </p>
                <div class="access-type">
                    <div>
                    <img
                        src="{% static 'img/solar_calendar-outline.svg' %}"
                        alt="calendar icon"
                    />
                    <p>Fri, Jul 28. 2023</p>
                    <div>
                        <ul class="time">
                        <li>5:00pm</li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="zoom">
                    <img
                    src="{% static 'img/ion_location-outline.svg' %}"
                    alt="location icon"
                    />
                    <p>Zoom</p>
                </div>
                </div>
            </article>
            <article class="journal">
                <div class="event-img event-4">
                <img src="{% static 'img/event4.png' %}" alt="Event Flyer" />
                </div>

                <div class="content">
                <h5>Epidemiology Hackathon to be hosted by FARHealth NGO</h5>
                <p>
                    Organize an online hackathon focused on epidemiology and data
                    analysis. Participants can form teams and work on real-world
                    public health datasets to address specific...
                </p>
                <div class="access-type">
                    <div>
                    <img
                        src="{% static 'img/solar_calendar-outline.svg' %}"
                        alt="calendar icon"
                    />
                    <p>Fri, Jul 28. 2023</p>
                    <div>
                        <ul class="time">
                        <li>5:00pm</li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="zoom">
                    <img
                    src="{% static 'img/ion_location-outline.svg' %}"
                    alt="location icon"
                    />
                    <p>Zoom</p>
                </div>
                </div>
            </article>
            <article class="journal">
                <div class="event-img event-1">
                <img src="{% static 'img/event1.png' %}" alt="Event Flyer" />
                </div>

                <div class="content">
                <h5>Webinar Series on Health Equity by Dr. Kelvin David</h5>
                <p>
                    This event can help raise awareness and foster discussions
                    about the importance of health equity. Inviting experts from
                    different fi...
                </p>
                <div class="access-type">
                    <div>
                    <img
                        src="{% static 'img/solar_calendar-outline.svg' %}"
                        alt="calendar icon"
                    />
                    <p>Fri, Jul 28. 2023</p>
                    <div>
                        <ul class="time">
                        <li>5:00pm</li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="zoom">
                    <img
                    src="{% static 'img/ion_location-outline.svg' %}"
                    alt="location icon"
                    />
                    <p>Zoom</p>
                </div>
                </div>
            </article>
            <article class="journal">
                <div class="event-img event-3">
                <img src="{% static 'img/expired.png' %}" alt="Event Flyer" />
                </div>

                <div class="content">
                <h5>Epidemiology Hackathon to be hosted by FARHealth NGO</h5>
                <p>
                    Organize an online hackathon focused on epidemiology and data
                    analysis. Participants can form teams and work on real-world
                    public health datasets to address specific...
                </p>
                <div class="access-type">
                    <div>
                    <img
                        src="{% static 'img/solar_calendar-outline.svg' %}"
                        alt="calendar icon"
                    />
                    <p>Fri, Jul 28. 2023</p>
                    <div>
                        <ul class="time">
                        <li>5:00pm</li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="zoom">
                    <img
                    src="{% static 'img/ion_location-outline.svg' %}"
                    alt="location icon"
                    />
                    <p>Google Meet</p>
                </div>
                </div>
            </article>

            <article class="journal">
                <div class="event-img event-2">
                <img src="{% static 'img/event2.png' %}" alt="Event Flyer" />
                </div>

                <div class="content">
                <h5>Webinar Series on Health Equity by Dr. Kelvin David</h5>
                <p>
                    This event can help raise awareness and foster discussions
                    about the importance of health equity. Inviting experts from
                    different fi...
                </p>
                <div class="access-type">
                    <div>
                    <img
                        src="{% static 'img/solar_calendar-outline.svg' %}"
                        alt="calendar icon"
                    />
                    <p>Fri, Jul 28. 2023</p>
                    <div>
                        <ul class="time">
                        <li>5:00pm</li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="zoom">
                    <img
                    src="{% static 'img/ion_location-outline.svg' %}"
                    alt="location icon"
                    />
                    <p>Zoom</p>
                </div>
                </div>
            </article>
            <article class="journal">
                <div class="event-img event-4">
                <img src="{% static 'img/event4.png' %}" alt="Event Flyer" />
                </div>

                <div class="content">
                <h5>Epidemiology Hackathon to be hosted by FARHealth NGO</h5>
                <p>
                    Organize an online hackathon focused on epidemiology and data
                    analysis. Participants can form teams and work on real-world
                    public health datasets to address specific...
                </p>
                <div class="access-type">
                    <div>
                    <img
                        src="{% static 'img/solar_calendar-outline.svg' %}"
                        alt="calendar icon"
                    />
                    <p>Fri, Jul 28. 2023</p>
                    <div>
                        <ul class="time">
                        <li>5:00pm</li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="zoom">
                    <img
                    src="{% static 'img/ion_location-outline.svg' %}"
                    alt="location icon"
                    />
                    <p>Zoom</p>
                </div>
                </div>
            </article>
            <article class="journal">
                <div class="event-img event-1">
                <img src="{% static 'img/event1.png' %}" alt="Event Flyer" />
                </div>

                <div class="content">
                <h5>Webinar Series on Health Equity by Dr. Kelvin David</h5>
                <p>
                    This event can help raise awareness and foster discussions
                    about the importance of health equity. Inviting experts from
                    different fi...
                </p>
                <div class="access-type">
                    <div>
                    <img
                        src="{% static 'img/solar_calendar-outline.svg' %}"
                        alt="calendar icon"
                    />
                    <p>Fri, Jul 28. 2023</p>
                    <div>
                        <ul class="time">
                        <li>5:00pm</li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="zoom">
                    <img
                    src="{% static 'img/ion_location-outline.svg' %}"
                    alt="location icon"
                    />
                    <p>Zoom</p>
                </div>
                </div>
            </article>
            <article class="journal">
                <div class="event-img event-3">
                <img src="{% static 'img/event3.png' %}" alt="Event Flyer" />
                </div>

                <div class="content">
                <h5>Epidemiology Hackathon to be hosted by FARHealth NGO</h5>
                <p>
                    Organize an online hackathon focused on epidemiology and data
                    analysis. Participants can form teams and work on real-world
                    public health datasets to address specific...
                </p>
                <div class="access-type">
                    <div>
                    <img
                        src="{% static 'img/solar_calendar-outline.svg' %}"
                        alt="calendar icon"
                    />
                    <p>Fri, Jul 28. 2023</p>
                    <div>
                        <ul class="time">
                        <li>5:00pm</li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="zoom">
                    <img
                    src="{% static 'img/ion_location-outline.svg' %}"
                    alt="location icon"
                    />
                    <p>Zoom</p>
                </div>
                </div>
            </article>

            <article class="journal">
                <div class="event-img event-2">
                <img src="{% static 'img/event2.png' %}" alt="Event Flyer" />
                </div>

                <div class="content">
                <h5>Webinar Series on Health Equity by Dr. Kelvin David</h5>
                <p>
                    This event can help raise awareness and foster discussions
                    about the importance of health equity. Inviting experts from
                    different fi...
                </p>
                <div class="access-type">
                    <div>
                    <img
                        src="{% static 'img/solar_calendar-outline.svg' %}"
                        alt="calendar icon"
                    />
                    <p>Fri, Jul 28. 2023</p>
                    <div>
                        <ul class="time">
                        <li>5:00pm</li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="zoom">
                    <img
                    src="{% static 'img/ion_location-outline.svg' %}"
                    alt="location icon"
                    />
                    <p>Zoom</p>
                </div>
                </div>
            </article>
            <article class="journal">
                <div class="event-img event-4">
                <img src="{% static 'img/event4.png' %}" alt="Event Flyer" />
                </div>

                <div class="content">
                <h5>Epidemiology Hackathon to be hosted by FARHealth NGO</h5>
                <p>
                    Organize an online hackathon focused on epidemiology and data
                    analysis. Participants can form teams and work on real-world
                    public health datasets to address specific...
                </p>
                <div class="access-type">
                    <div>
                    <img
                        src="{% static 'img/solar_calendar-outline.svg' %}"
                        alt="calendar icon"
                    />
                    <p>Fri, Jul 28. 2023</p>
                    <div>
                        <ul class="time">
                        <li>5:00pm</li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="zoom">
                    <img
                    src="{% static 'img/ion_location-outline.svg' %}"
                    alt="location icon"
                    />
                    <p>Zoom</p>
                </div>
                </div>
            </article>

            <article class="not-found">
                <div class="journal-head">
                <span></span>
                <p>Not Found</p>
                </div>
                <h4>There is currently no events for the selected topic</h4>
                <div class="content">
                <p>Would you like to add one?</p>
                </div>
                <div class="header-cta">
                <a href="#" class="publish">
                    Publish
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    >
                    <path
                        d="M11.406 15.7321L8.36699 12.6931C8.90999 11.7371 9.70199 10.7901 10.742 9.85512C12.083 8.64712 14.45 6.60512 17.842 3.72912C18.1856 3.43761 18.6264 3.28603 19.0766 3.30449C19.5269 3.32294 19.9537 3.51007 20.2724 3.82872C20.591 4.14737 20.7782 4.57422 20.7966 5.02448C20.8151 5.47473 20.6635 5.91546 20.372 6.25912C17.492 9.65712 15.451 12.0241 14.247 13.3591C13.312 14.3961 12.365 15.1871 11.406 15.7321ZM6.98999 14.1461L9.95499 17.1101L8.58899 19.0161L3.31299 20.8111L5.08399 15.5111L6.98999 14.1461Z"
                        fill="#1A1A1A"
                    />
                    </svg>
                </a>
                </div>
            </article>
            </div>
        </div>

        <div class="pagination">
        </div>
        </section>
        <section class="banner">
        <p>
            Have an upcoming event you are hosting or will love to invite others?
        </p>
        <a href="register.html" class="login">
            Publish Your Event
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            >
            <path
                d="M7.99998 7C7.99998 6.73478 8.10534 6.48043 8.29287 6.29289C8.48041 6.10536 8.73476 6 8.99998 6H17C17.2652 6 17.5196 6.10536 17.7071 6.29289C17.8946 6.48043 18 6.73478 18 7V15C18 15.2652 17.8946 15.5196 17.7071 15.7071C17.5196 15.8946 17.2652 16 17 16C16.7348 16 16.4804 15.8946 16.2929 15.7071C16.1053 15.5196 16 15.2652 16 15V9.414L7.70698 17.707C7.51838 17.8892 7.26578 17.99 7.00358 17.9877C6.74138 17.9854 6.49057 17.8802 6.30516 17.6948C6.11975 17.5094 6.01458 17.2586 6.01231 16.9964C6.01003 16.7342 6.11082 16.4816 6.29298 16.293L14.586 8H8.99998C8.73476 8 8.48041 7.89464 8.29287 7.70711C8.10534 7.51957 7.99998 7.26522 7.99998 7Z"
                fill="white"
            />
            </svg>
        </a>
        </section>
    </main>
  
  {% include "base/partials/push_modal_container.html" %}

  {% include "base/partials/footer.html" %}
  
  {% include "base/partials/backtotop.html" %}

  <script src="{% static "js/app.js" %}"></script>
</body>
{% endblock content %}
