{% extends 'base/base.html' %} 
{% load static %} 
{% block page_title %}Training{% endblock page_title %} 

{% block content %}

<body class="trainings">

  {% include "base/partials/navbar.html" %}

  <main id="main-articles" class="events">
    <section id="journals">
      <h2>Exclusive International Health Trainings powered by AHII</h2>

      <div class="journals">
        <div class="event">
          <article class="journal">
            <div class="event-img event-1">
              <img src="{% static 'img/vid-thumb1.png' %}" alt="Video Thumbail" />
            </div>

            <div class="content">
              <h5>Epidemiology Hackathon to be hosted by FARHealth ...</h5>
              <p class="training-level">Beginner Professional Course</p>
              <p>
                Organize an online hackathon focused on epidemiology and data
                analysis. Participants can form teams and work on real-world
                public
              </p>
              <div class="access-type">
                <div>
                  <p>4.8 rating</p>
                  <div class="rating">
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                  </div>
                </div>
              </div>
              <div class="enrol">
                <a href="#"> Enroll for training </a>
              </div>
            </div>
          </article>
          <article class="journal">
            <div class="event-img event-1">
              <img src="{% static 'img/vid-thumb2.png' %}" alt="Video Thumbail" />
            </div>

            <div class="content">
              <h5>Epidemiology Hackathon to be hosted by FARHealth ...</h5>
              <p class="training-level">Beginner Professional Course</p>
              <p>
                Organize an online hackathon focused on epidemiology and data
                analysis. Participants can form teams and work on real-world
                public
              </p>
              <div class="access-type">
                <div>
                  <p>4.8 rating</p>
                  <div class="rating">
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                  </div>
                </div>
              </div>
              <div class="enrol">
                <a href="#"> Enroll for training </a>
              </div>
            </div>
          </article>
          <article class="journal">
            <div class="event-img event-1">
              <img src="{% static 'img/vid-thumb3.png' %}" alt="Video Thumbail" />
            </div>

            <div class="content">
              <h5>Epidemiology Hackathon to be hosted by FARHealth ...</h5>
              <p class="training-level">Beginner Professional Course</p>
              <p>
                Organize an online hackathon focused on epidemiology and data
                analysis. Participants can form teams and work on real-world
                public
              </p>
              <div class="access-type">
                <div>
                  <p>4.8 rating</p>
                  <div class="rating">
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                  </div>
                </div>
              </div>
              <div class="enrol">
                <a href="#"> Enroll for training </a>
              </div>
            </div>
          </article>
          <article class="journal">
            <div class="event-img event-1">
              <img src="{% static 'img/vid-thumb4.png' %}" alt="Video Thumbail" />
            </div>

            <div class="content">
              <h5>Epidemiology Hackathon to be hosted by FARHealth ...</h5>
              <p class="training-level">Beginner Professional Course</p>
              <p>
                Organize an online hackathon focused on epidemiology and data
                analysis. Participants can form teams and work on real-world
                public
              </p>
              <div class="access-type">
                <div>
                  <p>4.8 rating</p>
                  <div class="rating">
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                  </div>
                </div>
              </div>
              <div class="enrol">
                <a href="#"> Enroll for training </a>
              </div>
            </div>
          </article>
          <article class="journal">
            <div class="event-img event-1">
              <img src="{% static 'img/vid-thumb5.png' %}" alt="Video Thumbail" />
            </div>

            <div class="content">
              <h5>Epidemiology Hackathon to be hosted by FARHealth ...</h5>
              <p class="training-level">Beginner Professional Course</p>
              <p>
                Organize an online hackathon focused on epidemiology and data
                analysis. Participants can form teams and work on real-world
                public
              </p>
              <div class="access-type">
                <div>
                  <p>4.8 rating</p>
                  <div class="rating">
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                  </div>
                </div>
              </div>
              <div class="enrol">
                <a href="#"> Enroll for training </a>
              </div>
            </div>
          </article>
          <article class="journal">
            <div class="event-img event-1">
              <img src="{% static 'img/vid-thumb6.png' %}" alt="Video Thumbail" />
            </div>

            <div class="content">
              <h5>Epidemiology Hackathon to be hosted by FARHealth ...</h5>
              <p class="training-level">Beginner Professional Course</p>
              <p>
                Organize an online hackathon focused on epidemiology and data
                analysis. Participants can form teams and work on real-world
                public
              </p>
              <div class="access-type">
                <div>
                  <p>4.8 rating</p>
                  <div class="rating">
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                  </div>
                </div>
              </div>
              <div class="enrol">
                <a href="#"> Enroll for training </a>
              </div>
            </div>
          </article>
          <article class="journal">
            <div class="event-img event-1">
              <img src="{% static 'img/vid-thumb7.png' %}" alt="Video Thumbail" />
            </div>

            <div class="content">
              <h5>Epidemiology Hackathon to be hosted by FARHealth ...</h5>
              <p class="training-level">Beginner Professional Course</p>
              <p>
                Organize an online hackathon focused on epidemiology and data
                analysis. Participants can form teams and work on real-world
                public
              </p>
              <div class="access-type">
                <div>
                  <p>4.8 rating</p>
                  <div class="rating">
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                  </div>
                </div>
              </div>
              <div class="enrol">
                <a href="#"> Enroll for training </a>
              </div>
            </div>
          </article>
          <article class="journal">
            <div class="event-img event-1">
              <img src="{% static 'img/vid-thumb1.png' %}" alt="Video Thumbail" />
            </div>

            <div class="content">
              <h5>Epidemiology Hackathon to be hosted by FARHealth ...</h5>
              <p class="training-level">Beginner Professional Course</p>
              <p>
                Organize an online hackathon focused on epidemiology and data
                analysis. Participants can form teams and work on real-world
                public
              </p>
              <div class="access-type">
                <div>
                  <p>4.8 rating</p>
                  <div class="rating">
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                  </div>
                </div>
              </div>
              <div class="enrol">
                <a href="#"> Enroll for training </a>
              </div>
            </div>
          </article>
          <article class="journal">
            <div class="event-img event-1">
              <img src="{% static 'img/vid-thumb8.png' %}" alt="Video Thumbail" />
            </div>

            <div class="content">
              <h5>Epidemiology Hackathon to be hosted by FARHealth ...</h5>
              <p class="training-level">Beginner Professional Course</p>
              <p>
                Organize an online hackathon focused on epidemiology and data
                analysis. Participants can form teams and work on real-world
                public
              </p>
              <div class="access-type">
                <div>
                  <p>4.8 rating</p>
                  <div class="rating">
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                    <img src="{% static 'img/ic_round-star.svg' %}" alt="rating icon" />
                  </div>
                </div>
              </div>
              <div class="enrol">
                <a href="#"> Enroll for training </a>
              </div>
            </div>
          </article>
        </div>
      </div>

      <div class="pagination">
       
      </div>
    </section>
  </main>

  {% include "base/partials/push_modal_container.html" %}

  {% include "base/partials/footer.html" %}
  
  {% include "base/partials/backtotop.html" %}

  <script src="{% static "js/app.js" %}"></script>
</body>

{% endblock content %}
